.logo {
    height: 45px;
    padding: 5px;
}
.welcome {
    position: absolute;
    top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding-left: 15%;
    color: black;
}
.form {
    position: absolute;
    top: 60px;
    width: 93%;
}
.form-title {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 5px;
    margin-top: -8%;
}
.button-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding: 30px;
}

.info-icon{
    color: red;
    zoom:3.0;
    margin-left: 88%;
}
