<ion-header>
  <ion-toolbar>
    <ion-img [src]="logo" class="logo float-start"></ion-img>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="background" class="background">
  </ion-img>
  <ion-select placeholder="Registros" class="select" (ionChange)="showData($event)">
    <ion-select-option *ngFor="let ill of illness; let i=index" value={{i}}>
      <p>{{ill.strName}} - Estatus: {{ill.intStatus}}</p><br>
    </ion-select-option>
  </ion-select>
  <ion-card class="info">
    <p class="info-no-data">Seleccione un registro para continuar.</p>
  </ion-card>
</ion-content>
