<ion-header>
  <ion-toolbar>
    <ion-img [src]="logo" class="logo float-start"></ion-img>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="background" class="background">
  </ion-img>
  <ion-select placeholder="Registros" class="select" (ionChange)="showData($event)">
    <ion-select-option *ngFor="let ill of illness; let i=index" value={{i}}>
      <p>{{ill.idUser.slice(0,6)}} - Estatus: {{ill.intStatus}}</p><br>
    </ion-select-option>
  </ion-select>
  <ion-card class="info">
    <p class="info-no-data" *ngIf="data === undefined">Seleccione un registro para continuar.</p>
    <table *ngIf="data !== undefined">
      <td>
        <tr>
          <ion-item>
            <ion-label position="fixed">Fecha</ion-label>
            <p class="font-quicksand">{{dateData}}</p>
        </ion-item>
        </tr>
        <tr>
          <ion-item>
            <ion-label position="fixed">Enfermedad</ion-label>
            <p class="font-quicksand">{{illnessData}}</p>
            </ion-item>
        </tr>
        <tr>
          <ion-item>
            <ion-label position="fixed">Síntomas</ion-label>
            <p class="font-quicksand">{{symptomsData}}</p>
          </ion-item>
        </tr>
        <tr>
          <ion-item>
            <ion-label position="fixed">Estatus</ion-label>
            <p class="font-quicksand">{{statusData}}</p>
          </ion-item>
        </tr>
        <tr>
          <ion-item>
            <ion-label position="fixed">Notas</ion-label>
            <p class="font-quicksand">{{notesData}}</p>
          </ion-item>
        </tr>
      </td>
    </table>
  </ion-card>
</ion-content>
