<ion-header>
  <ion-toolbar>
    <ion-img [src]="logo" class="logo float-start"></ion-img>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="background" class="background">
  </ion-img>
  <div class="forms">
    <!-- Add User -->
    <ion-card class="add-user">
      <p class="title" (click)="showFormAdd = !showFormAdd">Agregar Usuario</p>
      <ion-card *ngIf="showFormAdd">
        <ion-item>
          <ion-select placeholder="Rol*" (ionChange)="getRol($event)">
            <ion-select-option value="user">Usuario</ion-select-option>
            <ion-select-option value="admin">Administrador</ion-select-option>
            <ion-select-option value="superadmin">Super administrador</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="Matrícula*" [(ngModel)]="idUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Nombre(s)*"[(ngModel)]="nameUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Apellido Paterno*"[(ngModel)]="lastNameUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Apellido Materno" [(ngModel)]="secondLastNameUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="Edad*" [(ngModel)]="ageUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Alergias" [(ngModel)]="allergiesUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Enfermedades Previas" [(ngModel)]="previousIllnessUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Carrera" [(ngModel)]="careerUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="Grado" [(ngModel)]="gradeUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Grupo" [(ngModel)]="groupUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Email*" [(ngModel)]="emailUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Contraseña*" [(ngModel)]="passwordUser"></ion-input>
        </ion-item>
        <ion-button color="light" class="button" (click)="addUser()">
          <ion-label>Agregar</ion-label>
        </ion-button>
      </ion-card>
    </ion-card>
    <!-- Edit User -->
    <ion-card class="add-user">
      <p class="title" (click)="showFormEdit = !showFormEdit">Editar Usuario</p>
      <ion-card *ngIf="showFormEdit">
        <ion-searchbar placeholder="Buscar..." class="search-bar"></ion-searchbar>
        <ion-item>
          <ion-input type="text" placeholder="Rol"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Carrera"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Materia"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <ion-button color="light" class="button">
          <ion-label>Agregar</ion-label>
        </ion-button>
      </ion-card>
    </ion-card>
    <!-- Delete User -->
    <ion-card class="add-user">
      <p class="title" (click)="showFormDelete = !showFormDelete">Eliminar Usuario</p>
      <ion-searchbar placeholder="Buscar..." class="search-bar" *ngIf="showFormDelete"></ion-searchbar>
    </ion-card>
  </div>
</ion-content>
