p {
  font-family: 'Quicksand', sans-serif;
}
.logo {
  height: 45px;
  padding: 5px;
}
.search-bar {
  position: absolute;
  top: 0%;
  font-family: 'Quicksand', sans-serif;
}
.data {
  position: absolute;
  top: 10%;
  padding: 10px;
  width: 90%;
}
.without-register {
  position: absolute;
  top: 45%;
  left: 10%;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #f00;
  text-align: center;
}
