<ion-header>
  <ion-toolbar>
    <ion-title>CovidUta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <ion-img src="../../assets/logocovid.png" class="logo mx-auto d-block"></ion-img>

  <ion-card class="form">
    <ion-item>
      <ion-input [(ngModel)]="email" type="text" class="inputs" placeholder="Correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="password" type="password" class="inputs" placeholder="Contraseña"></ion-input><br>
    </ion-item>
  </ion-card>

  <ion-button (click)="login()" class="button" color="light">
    <ion-label>Iniciar Sesión</ion-label>
  </ion-button>
  <ion-item>
    <ion-label class="forgotpass" (click)="showAlert('Información', 'Contacta a tu universidad para recuperar tu cuenta: 449-910-5000', ['Ok'])">
      ¿Olvidaste tu contraseña?
    </ion-label>
  </ion-item>
</ion-content>
