<ion-header>
  <ion-toolbar>
    <ion-title>CovidUta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button>
    <ion-label>Login</ion-label>
    <ion-icon name="log-in"></ion-icon>
  </ion-button>
  <ion-item>
    <ion-label>
      Forgot your password?
    </ion-label>
  </ion-item>

</ion-content>
