<ion-header>
  <ion-toolbar>
    <ion-title>CovidUta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 90vh;">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <ion-button (click)="login()">
    <ion-label>Login</ion-label>
    <ion-icon name="log-in"></ion-icon>
  </ion-button>
  <ion-item>
    <ion-label>
      Forgot your password?
    </ion-label>
  </ion-item>

</ion-content>
