ion-title{
    text-align: center;
}
ion-button{
    margin-left: 40%;
}

.inputs{
    width: 80%;
    margin-left: 10%;
}

.logo{
    width: 280px;
    margin-left: 15%;
}

.container{
    height: 90vh;
}

.forgotpass{
    opacity: 50%;
    text-decoration: underline;
    margin-left: 33%;
    font-size: 80%;
}