<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="user">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="history" *ngIf="this.tipo === 'user'">
      <ion-icon name="time"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="history-admin" *ngIf="this.tipo === 'admin'">
      <ion-icon name="time"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="history-superadmin" *ngIf="this.tipo === 'superadmin'">
      <ion-icon name="time"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="api-data">
      <ion-icon name="information-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
