.logo {
  height: 45px;
  padding: 5px;
}
.data {
  position: absolute;
  top: 1%;
  width: 90%;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}
.data-api {
  position: absolute;
  top: 40%;
}
.background {
  position: fixed;
}
