ion-button {
  margin: 8% 0% 8% 27%;
}
p {
  font-family: 'Quicksand', sans-serif;
}
.logo {
  height: 45px;
  padding: 5px;
}
.welcome {
  position: absolute;
  top: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  padding-left: 15%;
}
.form {
  position: absolute;
  top: 80px;
  width: 95%;
}
.form-title {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding: 20px;
}
.button-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  padding: 30px;
}
.background {
  position: fixed;
}
