<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>Welcome {{userName}}!</p>
  </ion-item>
  <ion-item>
    <ion-icon name="add-circle-outline"></ion-icon>
    <ion-label>New</ion-label>
  </ion-item>
  <ion-item>
    <table>
      <td>
        <tr>
          <ion-item>
            <ion-label position="floating">Date</ion-label><br>
            <ion-input>{{dateDMY}}</ion-input>
          </ion-item>
        </tr>
        <tr>
          <ion-item>
            <ion-label position="floating">Symptoms</ion-label><br>
            <ion-input></ion-input>
          </ion-item>
        </tr>
        <tr>
          <ion-item>
            <ion-label position="floating">Notes</ion-label><br>
            <ion-input></ion-input>
          </ion-item>
        </tr>
      </td>
    </table>
  </ion-item>
</ion-content>
