<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>Welcome {{userName}}!</p>
  </ion-item>
  <ion-item (click)="showForm = !showForm">
    <ion-icon name="add-circle-outline"></ion-icon>
    <ion-label>New</ion-label>
  </ion-item>
  <ion-item *ngIf="showForm">
    <table>
      <td>
        <tr>
          <ion-item>
            <ion-label position="floating">Date</ion-label><br>
            <p>{{dateDMY}}</p>
          </ion-item>
        </tr>
        <tr>
          <ion-item>
            <ion-label position="floating">Symptoms</ion-label><br>
            <ion-input [(ngModel)]="symptoms"></ion-input>
          </ion-item>
        </tr>
        <tr>
          <ion-item>
            <ion-label position="floating">Notes</ion-label><br>
            <ion-input [(ngModel)]="notes"></ion-input>
          </ion-item>
        </tr>
        <tr>
          <ion-button (click)="addSymptoms()">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Add</ion-label>
          </ion-button>
        </tr>
      </td>
    </table>
  </ion-item>
</ion-content>
