ion-card {
  padding: 10px;
}
p {
  font-family: 'Quicksand', sans-serif;
}
.logo {
  height: 45px;
  padding: 5px;
}
.new {
  position: absolute;
  top: 0%;
  left: 5%;
}
.title {
  font-size: 20px;
  text-align: center;
}
.button {
  margin: 10px 0px;
  margin-left: 45%;
}
.background {
  position: fixed;
}
