<ion-header>
  <ion-toolbar>
    <ion-img [src]="logo" class="logo float-start"></ion-img>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="background" class="background">
  </ion-img>
  <p class="without-register" *ngIf="apiInfo.length === 0">No hay registros de enfermedades del día de hoy.</p>
  <ion-card class="new" *ngIf="apiInfo.length > 0 ">
    <p class="title">Nuevos registros</p>
    <ion-card>
      <table>
        <td>
          <tr>
            <ion-item>
              <ion-label position="fixed">Fecha</ion-label>
              <p>Fecha</p>
            </ion-item>
          </tr>
          <tr>
            <ion-item>
              <ion-label position="fixed">Enfermedad</ion-label>
              <p>Enfermedad</p>
              </ion-item>
          </tr>
          <tr>
            <ion-item>
              <ion-label position="fixed">Síntomas</ion-label>
              <p>Sintomas</p>
            </ion-item>
          </tr>
          <tr>
            <ion-item>
              <ion-label position="fixed">Estatus</ion-label>
              <p>Estatus</p>
            </ion-item>
          </tr>
          <tr>
            <ion-item>
              <ion-label position="fixed">Notas</ion-label>
              <p>Notas</p>
            </ion-item>
          </tr>
        </td>
        <tr>
          <ion-button color="secondary" class="buttom">
            <ion-label class="button-text">OK</ion-label>
          </ion-button>
        </tr>
      </table>
    </ion-card>
  </ion-card>
</ion-content>
