.logo {
  height: 45px;
  padding: 5px;
}
.user-info {
  position: absolute;
  top: 0%;
  padding: 20px;
  width: 90%;
}
.profile-picture {
  width: 150px;
  border-radius: 50%;
}
.user-data {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40%;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}
.extra-info {
  position: absolute;
  top: 40%;
  width: 90%;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
}
.button {
  position: absolute;
  top: 85%;
  left: 35%;
  font-family: 'Quicksand', sans-serif;
}
.background {
  position: fixed;
}
