<ion-header>
  <ion-toolbar>
    <ion-img [src]="logo" class="logo float-start"></ion-img>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="background" class="background">
  </ion-img>
  <ion-card class="user-info">
    <ion-img src="../../assets/profile-picture-default.png" class="profile-picture"></ion-img>
    <ion-card class="user-data">
      <p>{{userName}}</p>
      <p>Matrícula</p>
      <p>Carrera</p>
      <p>Estatus</p>
    </ion-card>
  </ion-card>
  <ion-card class="extra-info">
    <p>Información adicional</p>
  </ion-card>
  <ion-button (click)="logout()" color="danger" class="button">
    <ion-label>Cerrar Sesión</ion-label>
  </ion-button>
</ion-content>
