.logo {
  height: 45px;
  padding: 5px;
}
.user-info {
  position: absolute;
  top: 0%;
  padding: 20px;
  width: 95%;
  height: 80%;
}
.user-data {
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}
.extra-info {
  padding: 12px;
  font-family: 'Quicksand', sans-serif;
}
.button {
  position: absolute;
  top: 85%;
  left: 25%;
  font-family: 'Quicksand', sans-serif;
}
.background {
  position: fixed;
}
