<ion-header>
  <ion-toolbar>
    <ion-img [src]="logo" class="logo float-start"></ion-img>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="background" class="background">
  </ion-img>
  <ion-card class="user-info">
    <ion-card class="user-data">
      <p>{{name}}</p>
      <p>{{userName}}</p>
      <p *ngIf="career === ''">{{career}}</p>
      <p *ngIf="grade === ''">{{grade}}</p>
      <p *ngIf="allergies === []">{{allergies}}</p>
      <p *ngIf="illnesses === []">{{illnesses}}</p>
    </ion-card>
    <ion-card class="extra-info">
      <p>Más información</p>
    </ion-card>
    <ion-button (click)="logout()" color="danger" class="button">
      <ion-label>Cerrar Sesión</ion-label>
    </ion-button>
  </ion-card>
</ion-content>
